@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,500,300);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

html {
  height:100%
}

body {
  background-image:url(/img/image-from-rawpixel-id-597286-jpeg\ .jpg);
  background-position: center center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  background-color: #464646;
  color: #eee;
}

  body {
    padding: 20px 15%;
  }

  form header {
    margin: 0 0 20px 0; 
  }

  form header div {
    font-size: 90%;
    color: #999;
  }
  form header h2 {
    margin: 0 0 5px 0;
  }
  form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
  }
  form > div > fieldset > div > div {
    margin: 0 0 5px 0;
  }
  form > div > label,
  legend {
      width: 25%;
    float: left;
    padding-right: 10px;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 75%;
    float: right;
  }
  form > div > fieldset label {
      font-size: 90%;
  }
  fieldset {
      border: 0;
    padding: 0;
  }
  
  input[type=text],
  input[type=number],
  input[type=date],
  input[type =textarea]
    {
      width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  input[type=text],
  input[type=number],
  input[type=date],
  input[type=textarea] {
    width: 50%;
  }
  input[type=text]:focus,
  input[type=number]:focus,
  input[type=date]:focus,
  input[type=textarea]
    {
    outline: 0;
    border-color: #4697e4;
  }
  
  @media (max-width: 600px) {
    form > div {
      margin: 0 0 15px 0; 
    }
    form > div > label,
    legend {
        width: 100%;
      float: none;
      margin: 0 0 5px 0;
    }
    form > div > div,
    form > div > fieldset > div {
      width: 100%;
      float: none;
    }
    input[type=text],
    input[type=email],
    input[type=url],
    input[type=password],
    textarea,
    select {
      width: 100%; 
    }
  }
  @media (min-width: 1200px) {
    form > div > label,
      legend {
        text-align: right;
    }
  }

#main-menu .nav-bar { 
    list-style:none;
    line-height: 2em; 
    margin-top: 40px; 
}

#main-menu .nav-bar li { 
    display:inline; 
    padding:0 10px; }

#main-menu .nav-bar li a {
  text-decoration: none;
  padding-left: 25px;
  text-transform: uppercase;
  color: antiquewhite;
    text-shadow: 1px 1px 1px #ccc;
}

.nav-bar .nav-button-home a { 
    background-image:url("/img/pixel-crochet-loom-beading.jpg"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -2px;
     
}

.nav-bar .nav-button-students a { 
    background:url("/img/th1.jpg"); 
    background-repeat: no-repeat;
    background-position-y: -2px;
    background-size: contain; 
}

.nav-bar .nav-button-trainers a { 
    background:url("/img/th3.jpg"); 
    background-repeat: no-repeat;
    background-position-y: -2px;
    background-size: contain;    
}

.nav-bar .nav-button-assignments a { 
    background:url("/img/th.jpg"); 
    background-repeat: no-repeat;
    background-position-y: -2px;
    background-size: contain;    
}

.nav-bar .nav-button-courses a { 
    background:url("/img/th4.jpg"); 
    background-repeat: no-repeat;
    background-position-y: -2px;
    background-size: contain;    
}

table.hide {
  visibility: hidden;
}

table.show {
  visibility: initial;
}

  table {
    color: black;
    line-height: 1.25;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    font-size: smaller;
  }
  
  table caption {
    color: white;
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
  }
  
  @media screen and (max-width: 600px) {
    table.hide {
      visibility: hidden;
    }
    
    table.show {
      visibility: initial;
    }
    
    table {
      border: 0;
      font-size: small;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead tfoot{
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

.btn.btn-default.btn-delete:after {
  content: '\f1f8';
  font-family: FontAwesome;
}

.btn.btn-default.btn-edit:after {
  content: '\f044';
	font-family: FontAwesome;
}

.btn.btn.btn-default.btn-student:after{
  content: '\f234';
  font-family: FontAwesome;
}

.btn.btn.btn-default.btn-astudent:after{
  content: '\f234';
  font-family: FontAwesome;
}

.btn.btn.btn-default.btn-assignment:after{
  content: '\f0fe';
  font-family: FontAwesome;
}

.btn.btn.btn-default.btn-trainer:after{
  content: '\f0fe';
  font-family: FontAwesome;
}

.hide {
  visibility: hidden;
}

#ex1 {
  color: #464646;
  font-size: small;
}

section {
  padding-top: 10px;
}